.border {
  border: 1px solid #cac9ca;
  margin: 5px;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  padding: 13px 42px 12px 15px;
  margin: 5px;
  border-radius: 2px;
  background-color: #ebebeb;
  text-align: left;
  color: #262626;
  font-family: Helvetica;
  font-size: 14px;
  position: relative;
  display: inline-block;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #747474;
  cursor: pointer;
}

.tagInput {
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 7px 5px;
  margin: 5px;
  appearance: textfield;
  flex: 1;
}
.tagInput:focus {
  outline: none;
}
